.hidden{
    display: none;
}
body {
    margin: 0;
    color: whitesmoke;
    font-weight: 600;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
#weather{
    width: 100vw-20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    padding: 10px;
}
#greeting-clock, #todos{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#greeting {
    font-size: 5vh;
    margin:0;
}
#clock {
    font-size: 10vh;
    margin: 0;
}
#todo-list {
    padding: 0;
    max-height: 40vh;
    overflow: auto;
}
#todo-list li{
    display:flex;
    justify-content: space-between;
    gap: 1.2rem;
    padding: 0.1rem 0;
}
#quotes span{
    display: block;
}
#quotes{
    text-align: center;
}

input{
    background-color: rgba(255,255,255,0.7);
    color: black;
    border:none;
    border-bottom: 1px solid whitesmoke;
    height: 2rem;
    border-radius: 4px;
    padding: 0 10px;
}

button{
    background-color: #FFFFFF;  
    border: 1px solid 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    font-size: 16px;
}
#login-form button{
    min-height: 2rem;
}
button:hover,
button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}
button:hover {
    transform: translateY(-1px);
}
  
button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}
@media(max-height:620px){
    #quotes{
        display: none;
    }
    #greeting {
        font-size: 1.9rem;
    }
    #clock {
        font-size: 3.8rem;
    }
}
@media(max-height:450px){
    #todos{
        display:none;
    }
   
}